<div class="home container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="header">Bus Company</h1>
    </div>
    <div class="col-md-4">
      <form [formGroup]="formGroup" (ngSubmit)="searchMyBus()">
        <div id="search" class="container form">
          <div class="input-group form-group mb-3 search">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><img
                  src="https://img.icons8.com/external-others-phat-plus/24/000000/external-departure-airport-blue-others-phat-plus-2.png" /></span>

              <input type="text" class="form-control" placeholder="Departure point" formControlName="departure"
                autocomplete="on" ng-model="departure" aria-label="Departure point" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="input-group form-group mb-3 search">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><img
                  src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/24/000000/external-destination-map-and-navigation-flaticons-lineal-color-flat-icons-2.png" /></span>

              <input type="text" class="form-control" placeholder="Destination" ng-model="destination"
                aria-label="Destination" formControlName="destination" autocomplete="on"
                aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="form-group searchButton">
            <input type="submit" value="Search" [disabled]="!formGroup.valid"
              class="btn float-right form-control btn-outline-success" name="search" autocomplete="off" />
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<div id="table" *ngIf="mybus">
  <table class="table">
    <thead>
      <h1>Result</h1>
      <tr>
        <th scope="col">Company</th>
        <th scope="col">Start</th>
        <th scope="col">Stop</th>
        <th scope="col">Amount</th>
        <th scope="col">Book</th>
      </tr>
      <tr *ngFor="let bus of mybus">
        <td>{{bus.bus_company}}</td>
        <td>{{bus.source}}</td>
        <td>{{bus.destination}}</td>
        <td>{{bus.fare}}</td>
        <td><a routerLink="/booking/{{bus.id}}/from:{{bus.source}}/to:{{bus.destination}}/"><button type="submit"
              id="book">Book</button></a></td>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>
<div class="container">
  <div class="row" id="landing_row">
    <div class="col-md-6">
      <img src="../../assets/bus.jpg" alt="" width="70%">
    </div>
    <div class="col-md-6">
      <h2>Search for bus</h2>
      <p></p>
    </div>
  </div>
  <div class="row" id="landing_row">
    <div class="col-md-6">
      <h2>Select seat(s)</h2>
    </div>
    <div class="col-md-6">
      <img src="../../assets/Seat.png" alt="" width="70%">
    </div>
  </div>
  <div class="row" id="landing_row">
    <div class="col-md-6">
      <img src="../../assets/bus.jpg" alt="" width="70%">
    </div>
    <div class="col-md-6">
      <h2>Nake payment</h2>
      <p></p>
    </div>
  </div>
</div>