<div class="container">
  <h3 class="text-center mt-5">Bus Details</h3>
  <div id="bus_details" class="row">
    <div class="col-md-3">
      <img src="../../assets/bus.jpg" alt="" class="bus_image" height="100%" width="100%">
    </div>
    <div class="col-md-3 details">
      <p>Company: <i><b>{{bus.bus_company}} </b></i></p>
      <p>Plate Number: <i><b>{{bus.plate_number}} </b></i></p>
      <p>Contact Number:- <b>+254{{bus.contact}}</b></p>
    </div>

    <div class="col-md-3">
      <p>Price per seat:- Kshs. <i><b>{{fare}}.</b></i></p>
      <p>Date:- <i><b>{{bus.date}}</b></i></p>
      <p>Departure Time:- <i><b>{{bus.time}}</b></i></p>
    </div>
    <div class="col-md-3">
      <p>All good?<br><i>Proceed to seat booking.</i></p>
    </div>
  </div>
  <div class="submit-form">

    <div *ngIf="!submitted">
      <div class="form-group mt-5">
        <table>

          <tbody>
            <tr (click)="getSeatNumber($event)" [(ngModel)]="seats">
              <td id="door-driver"><img src="../../assets/Seat.png" alt="Driver" height="25" width="20"></td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
              <td>10</td>
              <td>11</td>
            </tr>

            <tr (click)="getSeatNumber($event)">
              <td></td>
              <td>12</td>
              <td>13</td>
              <td>14</td>
              <td>15</td>
              <td>16</td>
              <td>17</td>
              <td>18</td>
              <td>19</td>
              <td>20</td>
              <td>21</td>
            </tr>

            <tr>

            </tr>
            <td></td>
            <tr (click)="getSeatNumber($event)">
              <td id="door"></td>
              <td>22</td>
              <td>23</td>
              <td id="door"></td>
              <td>25</td>
              <td>26</td>
              <td>27</td>
              <td>28</td>
              <td>29</td>
              <td>30</td>
              <td>31</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center booking-buttons">
        <button class="btn btn-md btn-outline-danger">Cancel</button>
        <button (click)="saveBooking()" class="btn btn-outline-success btn-lg">Proceed to pay</button>
      </div>
    </div>

    <div *ngIf="submitted">

      <div *ngIf="!pay">
        <h5>Total amount in Kshs. {{totalAmount}} for {{numberOfSeats}} seats.</h5>
        <ol>
          <li *ngFor="let seat of seats">Seat number: <b>{{seat}}</b></li>
        </ol>
        <button type="submit" class="btn btn-md" (click)="payment()">Make payment</button>
      </div>

      <div *ngIf="pay">
        <button class="btn btn-outline-secondary btn-lg">Cash</button><br>
        <button class="btn btn-outline-secondary btn-lg">M-Pesa</button>
      </div>

    </div>
  </div>

</div>

<!-- <section *ngIf="cost$ | async as cost; else choose" class="final-cost">
  Final cost is Kshs. {{ cost }} -->
<!-- </section> -->
<!-- 
<ng-template #choose>
  <h3>Choose your seats</h3>

  <section class="cinema">
    <button 
    *tuiRepeatTimes="let index of 63" 
    class="seat" 
    (click)="selectSeat$.next(index + 1)">
      {{ index + 1 }}
    </button>
  </section>

  <ng-container *ngIf="selectedMessage$ | async as number">
    Selected: {{ number }}

    <button class="buy" [disabled]="message === noneMessage" (click)="selectSeat$.complete()">
      Buy
    </button>
  </ng-container>
</ng-template> -->