<div class="container">
  <input type="text" [(ngModel)]='val' />
  {{val}}
  <div id="bus_details" class="mt-5 row">
    <div class="col-md-6">
      <p>Company: <i><b>{{bus.bus_company}} </b></i></p>
      <p>Plate Number: <i><b>{{bus.plate_number}} </b></i></p>
      <p>Call: <b>0{{bus.contact}}</b></p>
    </div>

    <div class="col-md-6">
      <p>Price per seat:- Kshs. <i><b>{{fare}}.</b></i></p>
      <p>Total capacity:- <i><b>{{capacity}} seats.</b></i></p>
    </div>
  </div>
  <div class="submit-form">

    <div *ngIf="!submitted">
      <div class="form-group mt-5">
        <table>

          <tbody>
            <tr (click)="getSeatNumber($event)" [(ngModel)]="seats">
              <td id="door-driver"><img src="../../assets/Seat.png" alt="Driver" height="25" width="20"></td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
              <td>10</td>
              <td>11</td>
            </tr>

            <tr (click)="getSeatNumber($event)">
              <td></td>
              <td>12</td>
              <td>13</td>
              <td>14</td>
              <td>15</td>
              <td>16</td>
              <td>17</td>
              <td>18</td>
              <td>19</td>
              <td>20</td>
              <td>21</td>
            </tr>

            <tr>

            </tr>
            <td></td>
            <tr (click)="getSeatNumber($event)">
              <td id="door"></td>
              <td>22</td>
              <td>23</td>
              <td id="door"></td>
              <td>25</td>
              <td>26</td>
              <td>27</td>
              <td>28</td>
              <td>29</td>
              <td>30</td>
              <td>31</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button (click)="saveBooking()" class="btn btn-primary btn-lg">Proceed to pay</button>

    </div>

    <div *ngIf="submitted">

      <div *ngIf="!pay">
        <p>Total amount to pay: Kshs. <b>{{totalAmount}}</b>.</p>
        <p>Number of seats: <b>{{numberOfSeats}}</b> seats.</p>
        <p>Select mode of payment:</p>
        <div class="form-check">
          <input mdbRadio class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
          <label class="form-check-label" for="flexRadioDefault1"> Cash </label>
        </div>
        <!-- Default checked radio -->
        <div class="form-check">
          <input mdbRadio class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
            [checked]="true" />
          <label class="form-check-label" for="flexRadioDefault2"> M-Pesa </label>
        </div>
        <button type="submit" class="btn btn-md" (click)="payment()">Proceed</button>
      </div>

      <div *ngIf="pay">
        <h5>Total amount in Kshs. {{totalAmount}} for {{numberOfSeats}} seats.</h5>
        <ol>
          <li *ngFor="let seat of seats">Seat number: <b>{{seat}}</b></li>
        </ol>
      </div>

    </div>
  </div>

</div>